
/* 背景色 */
.company__bg {
    background-color: #47927B;
}

.company__top {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.company__top-img {
    width: 40%;
    margin-right: 30px;
}

.company__top-img img {
    width: 100%;
}

.company__top-lead {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.company__top-lead h1 {
    font-size: 2rem;
    line-height: 1.5;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

.company__body-flame {
    text-align: center;
    margin: 100px auto;
    padding: 30px;
    background-color: #fff;
    width: 80%;
    border-radius: 10px;
    border: 3px solid;
}

.company__body-flame h2 {
    font-weight: bold;
    font-size: 1.5rem;
    background-color: black;
    color: #fff;
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    top: -75px;
    letter-spacing: 3px;
}

.company__body--flex {
    display: flex;
    justify-content: space-evenly;
}

.company__body-flame h2 span {
    font-size: 2.5rem;
}

.company__body-item h3 {
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 30px;
}

.company__body-item p {
    padding-top: 30px;
    line-height: 1.5;
}

.company__detail-content {
    padding-bottom: 30px;
}

.company__detail-title {
    text-align: center;
}

.company__detail-title img {
    padding-bottom: 50px;
}

.company__detail-title h2 {
    font-size: 2rem;
    line-height: 1.5;
    font-weight: bold;
    color: #fff;
}

.company__detail-title__img {
    width: 60%;
    margin: 0 auto;
}

.company__detail-title__img img {
    width: 100%;
}

.company__detail--flex {
    display: flex;
    width: 80%;
    justify-content: center;
    margin: 30px auto;
}

.company__detail-content__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.company__detail-content__img img {
    width: 230px;
}

.company__detail-item {
    padding: 30px 0;
}

.company__detail-item h3 {
    font-size: 1.5rem;
    color: #fff;
    line-height: 1.5;
    font-weight: bold;
}

.company__detail-item h3 span {
    border-bottom: 1px solid;
}

.company__detail-item p {
    padding-top: 30px;
    color: #fff;
    line-height: 1.5;
}

/* レスポンシブ対応 */
.company__indention-responsive {
    display: none;
}

.company__detail-responsive {
    display: none;
}

.company__detail-content-responsive {
    display: none;
}


@media screen and (max-width:1024px) {

    .company__top-lead h1 {
        font-size: 1.6rem;
    }

    .company__detail--flex {
        justify-content: space-around;
    }

    .company__detail-content__img img {
        width: 100%;
    }

}

@media screen and (max-width:768px) {

    .company__top {
        flex-direction: column;
    }

    .company__top-lead h1 {
        line-height: 2;
        font-size: 1.4rem;
    }

    .company__top-img {
        margin: 0 auto;
        width: 60%;
        padding: 0 0 30px;
        text-align: center;
    }

    .company__body-flame h2 {
        font-size: 0.9rem;
    }

    .company__body-flame h2 span {
        font-size: 1.8rem;
    }

    .company__body--flex {
		flex-direction: column;
	}

    .company__body-item p {
        padding-bottom: 80px;
    }

    .company__body-item img {
        width: 50%;
    }

    .company__indention-responsive {
        display: block;
    }

    .company__detail--flex {
        width: 100%;
    }

    .company__detail-title h2 {
        font-size: 1.7rem;
    }

}

@media screen and (max-width:376px){

    .company__top-lead h1 {
        order: 1;
        font-size: 1.2rem;
    }

    .company__top-img {
        order: 2;
        width: 100%;
        padding: 10px 0 0;
    }

    .company__top-img img {
        width: 90%;
    }

    .company__body-flame {
        width: 90%;
        padding: 20px 10px;
        margin: 100px auto 50px;
    }

    .company__body-flame h2 {
		padding: 20px 10px;
		letter-spacing: unset;
		font-size: 0.8rem;
		top: -50px;
	}

    .company__body-flame h2 span {
		font-size: 1rem;
	}

	.company__body--flex {
		flex-direction: column;
	}

    .company__body-item h3 {
        font-size: 1.2rem;
        padding-bottom: 20;
    }

    .company__body-item p {
        padding: 10px 0 30px;
        font-size: 0.9rem;
    }

    .company__detail-title__img {
        display: none;
    }

    .company__detail-message {
        background-color: #fff;
        padding: 30px 0;
        width: 80%;
        margin: 0 auto 10px;
        border-radius: 20px;
    }

    .company__detail-responsive img {
        width: 35%;
        display: block;
        margin: 0px 20px 0 auto;
        padding-bottom: 30px;
    }

    .company__detail-title h2 {
        font-size: 1.2rem;
        line-height: 2;
    }

    .company__detail-title h2 span {
        background:url(../images/company/underline.png) bottom repeat-x;
        background-size: 20px;
        padding-bottom: 5px;
    }

    .company__detail-content {
        color: #fff;
        padding: 30px 0;
    }

    .company__detail-content-responsive {
        display: inline-block;
        border-bottom: 1px solid;
        font-size: 1.2rem;
        margin-left: 20px;
    }

    .company__detail-item {
        width: 70%;
    }

    .company__detail-item h3 {
        display: none;
    }

    .company__detail--flex {
        width: 90%;
        margin: 0 auto 30px;
    }

    .company__detail--flex:nth-last-child(1) {
        margin: 0 auto;
    }

    .company__detail-content__img img {
        width: 100%;
        padding: 19px 0 0;
    }

    .company__detail-item:nth-last-child(1) {
        padding: 30px 0 0;
    }

    .company__detail-item p {
        width: 100%;
        font-size: 0.9rem;
        line-height: 1.8;
        order: 1;
        text-align: left;
        padding: 0 10px 0;
    }

    .company__detail-item p br {
        display: none;
    }
}
