
/* 背景画像 */

.company__bg {
  background-image: url("../images/home-bg2.png");
}

/* /.背景画像 */

.company__top {
  display: flex;
  width: 100%;
}

.company__top-img {
  width: 35%;
}

.company__top-img img {
  width: 100%;
  height: 350px;
}

.company__top-img-responsive {
  display: none;
}

.company__top-lead {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.company__top-lead h1 {
  font-size: 3rem;
  line-height: 1.3;
  font-weight: bold;
}

.company__top-lead img {
  position: absolute;
  width: 200px;
  border-radius: 20px;
  right: 0;
  bottom: 20px
}

.company__lead-title {
  padding: 90px 0px 60px;
}

.company__lead-title br {
  display: none;
}

.company__lead-title h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.company__detail-responsive-title {
  display: none;
}

.company__lead-content {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.company__lead-item {
  width: 40%;
}

.company__lead-item h3 {
  background-color: #393E46;
  font-size: 30px;
  color: #fff;
  padding: 30px;
  font-weight: bold;
}

.company__lead-item img {
  width: 100%;
}

.company__lead-responsive-item {
  display: none;
}

.company__lead-question {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.company__lead-question img:nth-last-child(1) {
  width: 60%;
  margin: 0 auto;
}

.company__lead-question img:nth-last-child(2) {
  width: 35%;
  margin: 0 auto;
}

.company__detail-title {
  padding: 50px 0px 0px;
}

.company__detail-title h2 {
  text-align: center;
  font-size: 2.8rem;
  line-height: 1.5;
  font-weight: bold;
}

.company__detail-item {
  margin: 0 auto;
  width: 90%;
  padding: 50px 0px;
}

.company__detail-item h3 {
  font-size: 2.8rem;
  padding: 50px;
  color: #707070;
  line-height: 1.5;
  font-weight: bold;
}

.company__detail-item h3 br {
  display: none;
}

.company__detail-item--flex {
  display: flex;
  width: 100%;
}

.company__detail-item h3 span {
  border-bottom: 1px solid;
  padding: 0px 50px 0px 0px;
}

.company__detail-item img {
  display: block;
  width: 30%;
  max-height: 280px;
  margin-left: 50px;
}

.company__detail-item p {
  width: 50%;
  font-size: 1.5rem;
  line-height: 1.8;
  padding-left: 50px;
}

.company__detail-responsive-item {
  display: none;
}

/* レスポンシブ対応 */

@media screen and (max-width:1024px) {

  .company__top-img img {
    height: 280px;
  }

  .company__top-lead h1 {
    font-size: 2rem;
  }

  .company__top-lead img {
    width: 150px;
  }

}


@media screen and (max-width:376px){

  .company__top-img {
    display: none;
  }

  .company__top-lead h1 {
    display: none;
  }

  .company__top-img-responsive {
    display: block;
  }

  .company__top-img-responsive img {
    position: relative;
    width: 100%;
    top: -45px;
  }

  .company__top-lead img {
    right: 70px;
    top: -30px;
    width: 180px;
    height: 50px;
    object-fit: cover;
  }

  .company__lead-title br {
    display: block;
  }

  .company__lead-title h2 {
    line-height: 1.5;
  }

  .company__lead-content {
    flex-direction: column;
  }

  .company__lead-item {
    width: 80%;
    margin: 30px auto;
  }

  .company__lead-item h3 {
    font-size: 20px;
    padding: 30px 0px;
    text-align: center;
  }

  .company__lead-item img {
    display: none;
  }

  .company__lead-item .company__lead-responsive-item {
    display: block;
    width: 100%;
  }

  .company__lead-question {
    display: none;
  }

  .company__detail-responsive-title {
    display: block;
  }

  .company__detail-title h2 {
    font-size: 1.5rem;
  }

  .company__detail-item h3 {
    font-size: 1.3rem;
    padding: 0 0 5px;
    text-align: center;
    border-bottom: 1px solid;
    width: 85%;
    margin: 0 auto;
  }

  .company__detail-item h3 span {
    border-bottom: none;
    padding: 0;
  }

  .company__detail-item img {
    width: 90%;
    margin: 15px auto;
  }

  .company__detail-item--flex {
    flex-direction: column;
  }

  .company__detail-item p {
    width: 100%;
    font-size: 1rem;
    padding: 30px 0 40px;
    color: #707070;
    text-align: center;
    order: 1;
  }

  .company__detail-responsive-item {
    display: block;
  }

  .company__detail-item p span {
    display: none;
  }

}