/* 背景色 */
.contact__bg {
    background-color: #47927B;
    padding: 30px;
}

.contact__form-frame {
	border: 5px solid #d38864;
	border-radius: 30px;
	width: 60%;
	margin: 30px auto;
}

.contact__form-table {
	border-collapse: separate;
    border-radius: 30px;
    margin: 10px auto;
    border: 5px solid #d3ca64;
	width: 97%;
}

.contact__form-table th {
    width: 30%;
    color: #fff;
}

.contact__form-table td {
    width: 60%;
}

.contact__form-item {
    line-height: 1.5;
    padding: 15px 0px 15px 30px;
    font-size: 0.8rem;
}

/* 最初の項目へのCSS */
.contact__form-item-first {
    line-height: 1.5;
    padding: 40px 0px 15px 30px;
    font-size: 0.8rem;
    width: 30%;
}

.contact__form-item-first span {
    padding: 5px;
    background-color: #d3ca64;
    margin-right: 5px;
}

/* 最後の項目へのCSS */
.contact__form-item-last {
    line-height: 1.5;
    padding: 15px 0px 15px 30px;
    font-size: 0.8rem;
    vertical-align: top;
}

.contact__form-item span,
.contact__form-item-last span {
    padding: 5px;
    background-color: #d38864;
    margin-right: 5px;
}

.contact__form-table ::placeholder {
    color: rgb(209, 209, 209);
}

.contact__form-area {
    width: 90%;
    padding: 5px 8px;
    border-radius: 6px;
    border: none;
    background-color: #F5F5F5;
    margin: 10px;
    resize: none;
    text-align: left;
}

.contact__form-area-first {
    width: 90%;
    padding: 5px 8px;
    border-radius: 6px;
    border: none;
    background-color: #F5F5F5;
    margin: 35px 10px 10px;
    resize: none;
    text-align: left;
}

.contact__form-select {
    width: 45%;
    padding: 5px 8px;
    border-radius: 6px;
    border: none;
    background-color: #F5F5F5;
    margin: 10px;
    resize: none;
    text-align: left;
}

select {
    -moz-appearance: menulist;
    -webkit-appearance: menulist;
}

.contact__form-btn {
    padding: 30px;
    text-align: center;
}

.contact__form-btn button {
    background-color: #d36464;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    position:relative;
    z-index: 10;
    font-size: 1rem;
    display: inline-block;
    width: 300px;
}

.contact__form-btn button:hover {
		background-color: #d53636;
}

.contact__img {
    display: none;
}

@media screen and (max-width:1024px) {


    .contact__form-frame {
        width: 60%;
        margin: 30px auto;
    }

    .contact__form-table tbody tr {
        display: flex;
        flex-direction: column;
    }

    .contact__form-table th {
        width: unset;
    }

    .contact__form-item-first {
        padding: 40px 0 0 30px;
    }

    .contact__form-table td {
        width: unset;
        text-align: center;
    }

    .contact__form-select {
        width: 90%;
        margin: 10px;
        height: 35px;
    }

}

@media screen and (max-width:768px){

    .contact__bg {
        padding: 30px 0;
    }

    .contact__form-frame {
        border: none;
        width: 75%;
    }

    .contact__form-table {
        border: none;
        width: 100%;
    }

}


@media screen and (max-width:376px){


    .contact .content__title {
        padding: 100px 0 0;
    }

    .contact__bg {
        padding: 30px 30px 0;
    }

    .contact__form-frame {
        width: unset;
        margin: 0 auto;
    }

    .contact__form-item {
        padding: 20px 0px 5px;
        font-size: 1rem;
        color: #fff;
        font-weight: normal;
    }

    .contact__form-item-first {
        padding: 40px 0px 5px;
        font-size: 1.0rem;
        color: #fff;
        font-weight: normal;
    }

    .contact__form-item span {
        margin-right: 20px;
    }

    .contact__form-item-first span {
        margin-right: 20px;
    }

    .contact__form-area-first {
        width: 100%;
        margin: 10px 0;
    }

    .contact__form-area {
        width: 100%;
        margin: 10px 0;
    }

    .contact__form-select {
        width: 100%;
        margin: 10px 0;
    }

    .contact__form-btn {
        padding: 30px 0 0;
    }

	.contact__form-btn button {
		width: 230px;
	}

    .contact__img {
        display: block;
        width: 60%;
        padding: 50px 0 20px;
        margin: 0 auto;
    }

    .contact__img img {
        width: 100%;
    }
}


/* レスポンシブ対応(ipad用) */

@media screen and (max-width:1024px){



}
/* /.レスポンシブ対応 */
