
/* 背景色 */
.footer__bg01 {
    background-color: #387261;
}

.footer__bg02 {
    background-color: #393E46;
}
/* /.背景色 */

/* footerの幅を指定 */
.footer__content {
    width: 50%;
    margin: 0 auto;
}

.footer--flex {
    display: flex;
    justify-content: center;
}

.footer__logo {
    display: flex;
    align-items: center;
    text-align: center;
    width: 50%;
}

.footer__logo img {
    width: 60%;
    padding: 15px;
    margin: 0 auto;
}

.footer__item-list {
    padding: 15px 0px;
    width: 50%;
    color: #fff;
}

.footer__item-body {
    display: flex;
    justify-content: space-around;
}

.footer__item-detail div {
    padding: 5px;
    font-size: 0.8rem;
}

.footer__lead {
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 0.8rem;
}


/* レスポンシブ対応(ipad用) */
@media screen and (max-width:1024px){

    .footer__logo img {
        width: 80%;
    }
}

/* /.レスポンシブ対応(ipad用) */
@media screen and (max-width:768px){

    .footer--flex {
        justify-content: space-around;
    }

    .footer__content {
        width: 80%;
    }


}
/* レスポンシブ（スマホ用） */

@media screen and (max-width:599px){

    .footer--flex {
        display: block;
    }

    .footer__item-list {
        width: 100%;
        padding: 15px 0 30px;
    }

    .footer__logo {
        width: 80%;
        margin: 0 auto;
    }

    .footer__logo img {
        width: 100%;
        border-radius: unset;
        padding: 40px 0 0;
    }

    .footer__lead {
        font-size: 0.5rem;
    }
}

/* /.レスポンシブ（スマホ用） */
