

  /* ハンバーガーメニュー */
.hamburger-menu {
    display: none;
}

.hamburger-menu__item {
    display: none;
}

.btn-trigger {
    display: none;
    pointer-events: none;
}

.btn-trigger span{
    display: none;
}

@media screen and (max-width:376px){

    .hamburger-menu {
        display: block;
    }

    .hamburger-menu__item {
        display: block;
        position: relative;
        background-color: #fff;
        top: -10px;
        width: 100%;
        z-index: 1;
    }

    .btn-trigger {
        pointer-events: auto;
        display: block;
        position: relative;
        width: 50px;
        height: 44px;
        top: -80px;
        right: 30px;
        float: right;
        cursor: pointer;
        z-index: 2;
    }

    .btn-trigger span {
        pointer-events: auto;
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: black;
        border-radius: 4px;
    }

    .hamburger-menu__logo {
        position: relative;
    }

    .hamburger-menu__logo img {
        position: absolute;
        left: 20px;
        top: 35px;
        height: fit-content;
        width: 150px;
        object-fit: cover;
    }

    .btn-trigger, .btn-trigger span {
        display: inline-block;
        transition: all 5.5ms;
        box-sizing: border-box;
    }

    .btn-trigger span:nth-of-type(1) {
        top: 5px;
    }

    .btn-trigger span:nth-of-type(2) {
        top: 20px;
    }

    .btn-trigger span:nth-of-type(3) {
        bottom: 7px;
    }

    .btn-trigger.active span:nth-of-type(1) {
        -webkit-transform: translateY(10px) rotate(-45deg);
        transform: translateY(20px) rotate(-45deg);
    }

    .btn-trigger.active span:nth-of-type(2) {
        opacity: 0;
    }

    .btn-trigger.active span:nth-of-type(3) {
        -webkit-transform: translateY(-10px) rotate(45deg);
        transform: translateY(-10px) rotate(45deg);
    }

    .hamburger-menu__list {
        padding: 25px 0 0;
    }

    .hamburger-menu__list li {
        padding: 10px;
        list-style: none;
        text-align: center;
        font-size: 1rem;
        line-height: 2.5;
    }

    .hamburger-menu__list li:first-child {
        padding: 20px 0 10px;
        border-top: 3px solid;
    }

    .hamburger-menu__list li:last-child {
        padding: 10px 0 20px;
    }

}
