
/* 全体のフォント */

body {
  font-family: "MS P明朝";
}

/* /.全体のフォント */


/* home部分 */

/* 背景画像 */

.home__bg {
  width: 100%;
  height: 100vh;
  background-image: url(../images/home-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2){
  .home__bg {
    width: 100%;
    height: 100vh;
    background-image: url(../images/home-bg@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
}

/* /.背景画像 */

.home__content-lead {
  font-size: 50px;
  padding: 30px;
}

.home__content-lead h1{
  margin: 10px;
  font-weight: bold;
  font-size: 4rem;
}

.home__content-lead span{
  color: #A48B13;
}

.home__content-lead span{
  color: #A48B13;
}

.home__logo img {
  position: absolute;
  right: 30px;
  bottom: 30px;
  border-radius: 20px;
  width: 180px;
}

/* ナビゲーションリンク */

.home__gnav {
  background-color: #393E46;
}

.home__gnav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home__gnav-item {
  font-family: "Open sans", sans-serif;
  font-size: 16px;
  padding: 0 24px;
  letter-spacing: 0.05em;
}

.home__gnav-item a {
  display: inline-block;
  padding: 30px 0;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
}

.home__gnav-item span {
  font-size: 1rem;
}

/* /.ナビゲーションリンク */

/* /.home */



/* recommend-user部分 */

/* 背景色 */

.recommend-user__bg {
  background-color: #00ADB5;
}

/* /.背景色 */

.recommend-user__content {
  padding: 30px 40px;
}

.recommend-user__content-title {
  background-color: #393E46;
  font-size: 30px;
  color: #fff;
  padding: 30px;
  border-radius: 10px 10px 0px 0px;
}

.recommend-user__content-title br {
  display: none;
}

.recommend-user__content-title span {
  font-size: 1rem;
  padding: 1rem;
  vertical-align: middle;
}

.recommend-user__content-item img {
  width: 100%;
}

.recommend-user__content-link {
  background-color: #fff;
  padding: 40px;
  text-align: right;
  border-radius: 0px 0px 10px 10px;
}

.recommend-user__content-link a {
  background-color: #393E46;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  position:relative;
  z-index: 10;
  font-size: 0.5rem;
  display: inline-block;
  width: 180px;
}

.recommend-user__content-link span {
  padding-left: 30px;
}
/* /.recommend-user */



/* recommend-company部分 */

/* 背景画像 */

.recommend-company__bg {
  background-image: url("../images/home-bg2.png");
}

/* /.背景画像 */

.recommend-company__content {
  padding: 30px 40px;
}

.recommend-company__content-title {
  background-color: #393E46;
  font-size: 30px;
  color: #fff;
  padding: 30px;
  border-radius: 10px 10px 0px 0px;
}

.recommend-company__content-title span{
  font-size: 1rem;
  padding: 1rem;
  vertical-align: middle;
}

.recommend-company__content-item img {
  width: 100%;
}

.recommend-company__content-link {
  background-color: #fff;
  padding: 40px;
  text-align: right;
  border-radius: 0px 0px 10px 10px;
}

.recommend-company__content-link a {
  background-color: #393E46;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  position:relative;
  font-size: 0.5rem;
  z-index: 10;
  display: inline-block;
  width: 180px;
}

.recommend-company__content-link span {
  padding-left: 45px;
}

/* レスポンシブ用スタイル */

.recommend-company__content-title br {
  display: none;
}

/* /.レスポンシブ用スタイル */

/* /.recommend-company */



/* info部分 */

/* 背景色 */

.info__bg {
  background-color: #AAD8D3;
}

/* /.背景色 */

.info__content {
  display: flex;
  justify-content: space-evenly;
  padding: 40px 30px 40px;
}

.info__content--width {
  width: 40%;
}

/* 新着情報 */

.news__content {
  background-color: #fff;
  border-radius: 10px;
  padding-bottom: 30px;
}

.news__content-title {
  background-color: #393E46;
  font-size: 30px;
  color: #fff;
  padding: 30px;
  border-radius: 10px 10px 0px 0px;
}

.news__content-title span {
  font-size: 1rem;
  padding: 1rem;
  vertical-align: middle;
}

.news__content-item-list li {
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border-bottom: 1px solid #EEE;
  width: 90%;
}

.news__content-item {
  padding: 10px;
  font-size: 0.8rem;
}

.news__content-date {
  color: #C20095;
  font-family: Gabriola;
  font-size: 1.5rem;
}

/* レスポンシブ用スタイル */

.news__content-title br {
  display: none;
}

/* /.レスポンシブ用スタイル */

/* /.新着情報 */



/* 制作実績 */

.result__content {
  background-color: black;
  padding-bottom: 100px;
  border-radius: 10px;
}

.result__content-title {
  background-color: #393E46;
  font-size: 30px;
  color: #fff;
  padding: 30px;
  border-radius: 10px 10px 0px 0px;
}

.result__content-title span{
  font-size: 1rem;
  padding: 1rem;
  vertical-align: middle;
}

.result__content-item img {
  width: 100%;
}

/* レスポンシブ用スタイル */

.result__content-title br {
  display: none;
}

/* /.レスポンシブ用スタイル */

/* /.制作実績 */

/* /.info */



/* レスポンシブ（ipad用） */

@media screen and (max-width:1024px) {

  .recommend-user__content-link {
    padding: 100px 0px 40px;
    text-align: center;
  }

  .recommend-company__content-link {
    padding: 100px 0px 40px;
    text-align: center;
  }

  .info__content {
    flex-direction: column;
    justify-content: none;
    padding: 30px 40px;
  }

  .info__content--width {
    width: 100%;
  }

  .news__content {
    order: 2;
  }

  .result__content {
    margin-bottom: 60px;
    order: 1;
  }
 
}

/* /.レスポンシブ（ipad用） */


/* レスポンシブ（スマホ用） */

@media screen and (max-width:376px){

  /* home部分 */

  .home__logo img {
    right: 70px;
    top: 15px;
    height: 50px;
    object-fit: cover;
  }

  .home__bg {
    background-image: url(../images/home-bg-responsive.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2){
    .home__bg {
      background-image: url(../images/home-bg-responsive@2x.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: relative;
      width: 100%;
    }
  }

  .home__content-lead h1 {
    margin: 0px;
    line-height: 1.5;
    font-size: 30px;
  }

  .home__gnav {
    display: none;
  }
  
  /* /.home */

  /* recommend-user部分 */

  .recommend-user__bg {
    background-image: url(../images/home-bg2.png);
  }

  .recommend-user__content-title {
    font-size: 40px;
    text-align: center;
    border-radius: 30px 30px 0px 0px;
    padding: 25px;
  }

  .recommend-user__content-title span {
    font-size: 1.5rem;
  }

  .recommend-user__content-title br {
    display: block;
  }

  .recommend-user__content-item img {
    height: 350px;
  }

  .recommend-user__content-link {
    border-radius: 0px 0px 30px 30px;
  }

  .recommend-user__content-link span {
    padding-left: 15px;
  }

  .recommend-user__content-link a {
    font-size: 1rem;
    padding: 10px 10px 10px 40px;
    width: 220px;
  }

  /* /.recommend-user */

  /* recommend-company部分 */

  .recommend-company__content-title {
    text-align: center;
    font-size: 40px;
  }

  .recommend-company__content-title span {
    font-size: 1.5rem;
  }

  .recommend-company__content-title br {
    display: block;
  }

  .recommend-company__content-item img {
    height: 350px;
  }

  .recommend-company__content-link {
    padding: 100px 0px 40px;
    text-align: center;
    border-radius: 0px 0px 30px 30px;
  }

  .recommend-company__content-link a {
    font-size: 1rem;
    padding: 10px 10px 10px 70px;
  }

  .recommend-company__content-link span {
    padding-left: 40px;
  }

  /* /.recommend-company */

  /* info部分 */

  .info__bg {
    background-image: url(../images/home-bg2.png);
  }

  /* 新着情報 */

  .news__content {
    border-radius: 30px;
  }

  .news__content-title {
    text-align: center;
    font-size: 40px;
    border-radius: 30px 30px 0px 0px;
  }

  .news__content-title br {
    display: block;
  }

  .news__content-title span {
    font-size: 1rem;
  }

  /* /.新着情報 */

  /* 制作実績 */

  .result__content {
    margin-bottom: 60px;
    background-color: #fff;
    border-radius: 30px;
  }

  .result__content-title {
    text-align: center;
    font-size: 35px;
    padding: 30px 0px;
    border-radius: 30px 30px 0px 0px;
  }

  .result__content-title br {
    display: block;
  }

  .result__content-title span {
    font-size: 1rem;
  }

  .result__content img {
    height: 350px;
  }
}

/* /.レスポンシブ（スマホ用） */