
/* ============== */
/* =====全体====== */
/* ============== */

/* 全体のフォントを指定 */
body {
	font-family: "MS P明朝";
}


/* ============== */
/* =====home===== */
/* ============== */

/* 背景画像と背景色 */
.home__bg {
    width: 100%;
    /* 背景色 */
    background-color: #47927B;
    /* 背景画像 */
    background-image: url(../images/top/home-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
/* /.背景画像 */

.home__content-lead {
    padding: 300px 200px 300px 0;
    text-align: center;
}

.home__content-lead h1 {
    color: #D3CA64;
    padding: 20px 0;
    font-size: 30px;
}

.home__content-lead p {
    font-size: 20px;
    line-height: 1.5;
    color: #fff;
}

/* ================================ */
/* ==fleelance,companyの共通デザイン== */
/* ================================ */

/* ================ */
/* ====title部分==== */
/* ================ */

.knife {
    width: 15px;
}

.fork {
    width: 25px;
}

.content__body {
    padding: 200px 0;
}

.content__title {
    text-align: center;
}

.content__title h1 {
    font-size: 30px;
    color: #fff;
    padding: 20px;
    display: inline-block;
}

.content__title span {
    font-size: 1rem;
    padding: 1rem;
    vertical-align: middle;
}

/* ============== */
/* ==slider-box== */
/* ============== */

/* content-boxの枠画像 */
.content__box {
    width: 90%;
    text-align: center;
    margin: 50px auto;
    background-repeat: round;
}

/* cotent-boxの中の横並び配置 */
.content__box--flex {
    display: flex;
    justify-content: space-around;
    padding: 125px 0 100px;
}

.content__box--width01 {
    width: 50%;
}

.content__box--width02 {
    width: 50%;
}

.content__box-title {
    font-size: 1.3rem;
    font-weight: bold;
    padding-bottom: 25px;
}

.content__box-item {
    font-size: 1rem;
    padding: 25px 0px;
    text-align: left;
    color: #505050;
}

.content__box-detail {
    font-size: 1rem;
    line-height: 2;
    color: #505050;
}

.content__box-img {
    padding: 20px 0;
    margin: 0 auto;
    width: 80%;
}

/* ============== */
/* ====button==== */
/* ============== */

.content__link {
    padding: 80px;
    text-align: center;
}

.content__link a {
    background-color: #d38864;
    color: #fff;
    padding: 20px;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    position:relative;
    z-index: 10;
    font-size: 1rem;
    display: inline-block;
    width: 300px;
}

.content__link a:hover {
		background-color: #ff8349;
}


/* ============== */
/* ==freelance=== */
/* ============== */

/* 背景色と背景画像 */
.freelance__bg {
    width: 100%;
    height: 170vh;
    /* 背景色 */
    background-color: #47927B;
    /* 背景画像 */
    background-image: url(../images/top/freelance-bg.png);
    background-repeat: round;
    position: relative;
}

.freelance .content__box {
		background-image: url(../images/top/fleelance-box-bg.png);
}


.freelance .content__box-img {
    width: 50%;
}

/* ============== */
/* ===company==== */
/* ============== */

.company .content__body {
    padding: 100px 0 0;
}

/* 背景色 */
.company__bg {
    background-color: #47927B;
}

.company .content__box {
	background-image: url(../images/top/company-box-bg.png);
}

.company .content__box-item {
    padding: 20px 30px;
    line-height: 2;
}

.company .content__link {
    padding: 80px 0 0;
    text-align: center;
}

.company .content__bg-imgs {
    display: flex;
    justify-content: space-between;
}

.pc {
    padding: 5% 0 0 5%;
}

.pasta {
    position: relative;
    top: -50px;
    right: 5%;
}



/* infoコンテンツの中には、「news」と「production」の2つのコンテンツがあります。 */
/* 「news」と「production」の共通デザイン */
/* ============== */
/* =====info===== */
/* ============== */

/* 背景色 */
.info__bg {
    background-color: #47927B;
}

/* 「news」と「production」を横並びに設定 */
.info__content {
    display: flex;
    justify-content: center;
}

.info__content-title {
    text-align: center;
    padding-bottom: 30px;
}

.info__content-title h1 {
    font-size: 30px;
    color: #fff;
    padding: 20px;
    display: inline-block;
}

.info__content-title span {
    font-size: 1rem;
    padding: 1rem;
    vertical-align: middle;
}

.info__bg-imgs {
    position: relative;
    padding-bottom: 150px;
}

.carrots {
    position: absolute;
    top: -50px;
    left: 20px;
}

.glass {
    position: absolute;
    top: -350px;
    right: 20px;
}


/* ============== */
/* =====news===== */
/* ============== */

/* 「news」のコンテンツ幅を指定 */
.news__content--width {
    width: 37%;
    margin-right: 10px;
}

.news__content {
    background-color:#d3ca64;
    border-radius: 20px;
    font-size: 0.8rem;
    color: #505050;
    padding: 20px 10px 80px;
    min-height: 400px;
    position: relative;
}


.news__content-item-list li {
    padding: 10px;
    display: flex;
    margin: 5px auto 0;
    border-bottom: 1px solid #505050;
    width: 90%;
    max-height: 84px;
}

.news__content-item {
    padding: 10px;
    line-height: 1.5;
}

.news__content-date span {
    padding: 5px 10px;
    border: 1px solid;
    margin: 10px 10px 10px 0;
}

.news__content-date {
    font-size: 0.9rem;
    padding: 10px;
}

/* ページネーション */
.news__pagination {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 25%;
}

.news__pagination-number {
    display: flex;
}

.prev-page,
.next-page,
.news__pagination li {
    padding: 10px 15px;
    background-color: #505050;
    color: #fff;
    margin: 10px;
    border-radius: 10px;
}


/* ============== */
/* ==production== */
/* ============== */

/* 「production」のコンテンツ幅を指定 */
.production__content--width {
    width: 37%;
    margin-left: 10px;
}

.production__content {
    background-color: #d38864;
    border-radius: 20px;
    padding: 30px 30px 150px 30px;
    height: 80%;
    min-height: 400px;
    max-height: 650px;
}

.production__content-list img {
    width: 100%;
    height: 500px;
}

/* ============== */
/* ==responsive== */
/* ============== */

.home__responsive-bg01 {
	display: none;
}

.home__responsive-bg02 {
	display: none;
}


/* ============== */
/* ==レスポンシブ===
/* ====ipad用==== */
/* ============== */

@media screen and (max-width:1024px) {


    /* ================================ */
    /* ==fleelance,companyの共通デザイン== */
    /* ================================ */

    .content__box--flex {
        padding: 70px 0;
    }

    .content__box-detail {
        font-size: 0.8rem;
    }

    .content__box-item {
        font-size: 0.8rem;
    }

    .content__link {
        padding: 80px 0 0;
    }

    /* ============== */
    /* ==freelance=== */
    /* ============== */

    .freelance__bg {
        height: 150vh;
    }

    .freelance .content__body {
        padding: 200px 0 0;
    }


    /* =========== */
    /* ==company== */
    /* =========== */

    .company .content__box-item {
        padding: 0 10px;
    }

    /* ============== */
    /* =====info===== */
    /* ============== */

    .info__content {
        flex-direction: column;
        padding: 0 20px;
    }

    /* ============== */
    /* =====news===== */
    /* ============== */

    .news__content--width {
        width: 75%;
        margin: 20px auto;
    }

    /* ============== */
    /* ==production== */
    /* ============== */

    .production__content--width {
        width: 75%;
        margin: 20px auto;
    }
}


/* ============== */
/* ==レスポンシブ=== */
/* ====スマホ用==== */
/* ============== */

@media screen and (max-width:768px) {

    /* ============== */
    /* =====home===== */
    /* ============== */

    .home__bg {
        width: 100%;
        background-image: unset;
    }

    .home__content-lead {
        padding: 250px 0 0;
    }

    .home__responsive-bg {
        position: relative;
		}

    .home__responsive-bg01 {
		display: block;
        width: 100%;
        position: absolute;
    }

    .home__responsive-bg02 {
		display: block;
        width: 100%;
    }

    /* =========== */
    /* ==company== */
    /* =========== */

    .company .content__box-item br {
        display: none;
    }

    .pc {
        width: 20%;
        height: fit-content;
    }

    .pasta {
        top: 0;
        width: 20%;
        height: fit-content;
    }

    /* ============== */
    /* ==production== */
    /* ============== */

    .glass {
        width: 10%;
    }

    .carrots {
        width: 10%;
    }

    /* ======== */
    /* ==news== */
    /* ======== */

    .news__content-item-list li {
        flex-direction: column;
        border-bottom: 1px dotted #505050;
    }
}

/* ============== */
/* ==レスポンシブ=== */
/* ====スマホ用==== */
/* ============== */

@media screen and (max-width:376px){

    /* ============== */
    /* =====home===== */
    /* ============== */


    .home__content-lead {
        padding: 140px 0 0;
    }

    .home__content-lead h1 {
        padding: 20px 0 10px;
        font-size: 1.3rem;
    }

    .home__content-lead p {
        font-size: 1rem;
    }

    /* ================================ */
    /* ==fleelance,companyの共通デザイン== */
    /* ================================ */

    .content__body {
        padding: 200px 0 0;
    }

    .content__box {
        width: 90%;
    }

    /* cotent-boxの中の横並び配置 */
    .content__box--flex {
        display: flex;
        justify-content: space-around;
        padding: 40px 10px 20px;
    }

    .content__box--width01 {
        width: 40%;
    }

    .content__box--width02 {
        width: 40%;
    }

    .content__box-title {
        font-size: 1rem;
        padding-bottom: 20px;
    }

    .content__box-item {
        font-size: 0.8rem;
        padding: 20px 0px;
    }

    .content__box-detail {
        font-size: 0.7rem;
    }

    .content__box-img {
        padding: 10px 0;
        margin: 0 auto;
    }

    .content__link {
        padding: 40px 0;
    }

    /* =================== */
    /* =====freelance===== */
    /* =================== */

    .freelance__bg {
        width: 100%;
        height: 130vh;
    }

    .freelance .content__box-img {
        width: 50%;
    }

    /* =================== */
    /* =====company======= */
    /* =================== */

    .company .content__body {
        padding: 0;
    }

    .company .content__box--width01 {
        width: 50%;
    }

    .company .content__box--width02 {
        width: 45%;
    }

    .company .content__box-item {
        padding: unset;
        line-height: 1.5;
    }

    .company .content__box-detail {
        font-size: 0.8rem;
    }

    .company .content__bg-imgs{
        display: none;
    }

    .company .content__link {
        padding: 40px 0 4px;
    }

    /* ============== */
    /* =====info===== */
    /* ============== */

    .info {
        margin: -1px;;
    }

    .info__content-title {
        padding: 100px 0 20px;
    }

    .info__content-title h1 {
        font-size: 20px;
    }

    .info__bg-imgs {
        display: none;
    }

    .info__content {
        flex-direction: column;
        padding: 0 20px;
    }


    /* ============== */
    /* =====news===== */
    /* ============== */

    .news__content--width {
        width: unset;
        margin: 0;
    }

    /* ===================== */
    /* =====.production===== */
    /* ===================== */

    .production__content {
        padding: 20px 15px 80px 15px;
    }

    .production__content--width {
        width: unset;
        margin: 0;
    }

    .production__content-list img {
        height: 400px;
    }
}
