
/* 全体のフォント */

body {
  font-family: "MS P明朝";
}

/* home部分 */

.home__bg {
  width: 100%;
  height: 100vh;
  background-image: url(../images/home-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2){
  .home__bg {
    width: 100%;
    height: 100vh;
    background-image: url(../images/home-bg@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
}

.home-content-lead {
  font-size: 50px;
  padding: 30px;
}

.home-content-lead h1{
  margin: 10px;
}

.home-content-lead span{
  color: #A48B13;
}

.home-content-lead span{
  color: #A48B13;
}

.home-logo img {
  position: absolute;
  right: 30px;
  bottom: 30px;
  border-radius: 20px;
  width: 180px;
}

.home-gnav {
  background-color: #393E46;
}

.home-gnav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home-gnav-item {
  font-family: "Open sans", sans-serif;
  font-size: 16px;
  padding: 0 24px;
  letter-spacing: 0.05em;
}

.home-gnav-item a {
  display: inline-block;
  padding: 30px 0;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
}

.home-gnav-item span {
  font-size: 1rem;
}
/* /.home */



/* recommend-user部分 */

.recommend-user-bg {
  background-color: #00ADB5;
}

.recommend-user-content {
  padding: 30px 40px;
}

.recommend-user-content-title {
  background-color: #393E46;
  font-size: 30px;
  color: #fff;
  padding: 30px;
  border-radius: 10px 10px 0px 0px;
}

.recommend-user-content-title br {
  display: none;
}

.recommend-user-content-title span {
  font-size: 1rem;
  padding: 1rem;
  vertical-align: middle;
}

.recommend-user-content-item li {
  list-style: none;
}

.recommend-user-content-item img {
  width: 100%;
}

.recommend-user-content-link {
  background-color: #fff;
  padding: 40px;
  text-align: right;
  border-radius: 0px 0px 10px 10px;
}

.recommend-user-content-link a {
  background-color: #393E46;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  position:relative;
  z-index: 10;
  font-size: 0.5rem;
  display: inline-block;
  width: 180px;
}

.recommend-user-content-link span {
  padding-left: 30px;
}
/* /.recommend-user */



/* recommend-company部分 */

.recommend-company-bg {
  background-image: url("../images/home-bg2.png");
}

.recommend-company-content {
  padding: 30px 40px;
}

.recommend-company-content-title {
  background-color: #393E46;
  font-size: 30px;
  color: #fff;
  padding: 30px;
  border-radius: 10px 10px 0px 0px;
}

.recommend-company-content-title br {
  display: none;
}

.recommend-company-content-title span{
  font-size: 1rem;
  padding: 1rem;
  vertical-align: middle;
}

.recommend-company-content-item li {
  list-style: none;
}

.recommend-company-content-item img {
  width: 100%;
}

.recommend-company-content-link {
  background-color: #fff;
  padding: 40px;
  text-align: right;
  border-radius: 0px 0px 10px 10px;
}

.recommend-company-content-link a {
  background-color: #393E46;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  position:relative;
  font-size: 0.5rem;
  z-index: 10;
  display: inline-block;
  width: 180px;
}

.recommend-company-content-link span {
  padding-left: 45px;
}
/* /.recommend-company */


/* info部分 */

.info-bg {
  background-color: #AAD8D3;
}

.info-content {
  display: flex;
  justify-content: space-evenly;
  padding: 40px 30px 40px;
}

.info-content__width {
  width: 40%;
}

.news-content {
  background-color: #fff;
  border-radius: 10px;
  padding-bottom: 30px;
}

.news-content-title {
  background-color: #393E46;
  font-size: 30px;
  color: #fff;
  padding: 30px;
  border-radius: 10px 10px 0px 0px;
}

.news-content-title br {
  display: none;
}

.news-content-title span {
  font-size: 1rem;
  padding: 1rem;
  vertical-align: middle;
}

.news-content-item-list li {
  padding: 10px;
  list-style: none;
  display: flex;
  margin: 0 auto;
  border-bottom: 1px solid #EEE;
  width: 90%;
}

.news-content-item {
  padding: 10px;
  font-size: 0.8rem;
}

.news-content-date {
  color: #C20095;
  font-family: Gabriola;
  font-size: 1.5rem;
}

.result-content {
  background-color: black;
  padding-bottom: 100px;
  border-radius: 10px;
}

.result-content-title {
  background-color: #393E46;
  font-size: 30px;
  color: #fff;
  padding: 30px;
  border-radius: 10px 10px 0px 0px;
}

.result-content-title br {
  display: none;
}

.result-content-title span{
  font-size: 1rem;
  padding: 1rem;
  vertical-align: middle;
}

.result-content-item li {
  list-style: none;
}

.result-content-item img {
  width: 100%;
}

/* /.info */

/* レスポンシブ対応 */

@media screen and (max-width:1024px) {

  .recommend-user-content-link {
    padding: 100px 0px 40px;
    text-align: center;
  }

  .recommend-company-content-link {
    padding: 100px 0px 40px;
    text-align: center;
  }

  .info-content {
    flex-direction: column;
    justify-content: none;
    padding: 30px 40px;
  }

  .info-content__width {
    width: 100%;
  }

  .news-content {
    order: 2;
  }

  .result-content {
    margin-bottom: 60px;
    order: 1;
  }
 
}



@media screen and (max-width:376px){

  /* home部分 */

  .home-logo img {
    right: 70px;
    top: 15px;
    height: 50px;
    object-fit: cover;
  }

  .home-bg {
    background-image: url(../images/home-bg-responsive.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2){
    .home-bg {
      background-image: url(../images/home-bg-responsive@2x.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: relative;
      width: 100%;
    }
  }

  .home-content-lead h1 {
    margin: 0px;
    line-height: 1.5;
    font-size: 30px;
  }

  .home-gnav {
    display: none;
  }
  
  /* /.home */

  /* recommend-user部分 */

  .recommend-user-bg {
    background-image: url(../images/home-bg2.png);
  }

  .recommend-user-content-title {
    font-size: 40px;
    text-align: center;
    border-radius: 30px 30px 0px 0px;
    padding: 25px;
  }

  .recommend-user-content-title span {
    font-size: 1.5rem;
  }

  .recommend-user-content-title br {
    display: block;
  }

  .recommend-user-content-item img {
    height: 350px;
  }

  .recommend-user-content-link {
    border-radius: 0px 0px 30px 30px;
  }

  .recommend-user-content-link span {
    padding-left: 15px;
  }

  .recommend-user-content-link a {
    font-size: 1rem;
    padding: 10px 10px 10px 40px;
    width: 220px;
  }

  /* /.recommend-user */

  /* recommend-company部分 */

  .recommend-company-content-title {
    text-align: center;
    font-size: 40px;
  }

  .recommend-company-content-title span {
    font-size: 1.5rem;
  }

  .recommend-company-content-title br {
    display: block;
  }

  .recommend-company-content-item img {
    height: 350px;
  }

  .recommend-company-content-link {
    padding: 100px 0px 40px;
    text-align: center;
    border-radius: 0px 0px 30px 30px;
  }

  .recommend-company-content-link a {
    font-size: 1rem;
    padding: 10px 10px 10px 70px;
  }

  .recommend-company-content-link span {
    padding-left: 40px;
  }

  /* /.recommend-company */

  /* info部分 */

  .info-bg {
    background-image: url(../images/home-bg2.png);
  }

  .news-content {
    border-radius: 30px;
  }

  .news-content-title {
    text-align: center;
    font-size: 40px;
    border-radius: 30px 30px 0px 0px;
  }

  .news-content-title br {
    display: block;
  }

  .news-content-title span {
    font-size: 1rem;
  }

  .result-content {
    margin-bottom: 60px;
    background-color: #fff;
    border-radius: 30px;
  }

  .result-content-title {
    text-align: center;
    font-size: 35px;
    padding: 30px 0px;
    border-radius: 30px 30px 0px 0px;
  }

  .result-content-title br {
    display: block;
  }

  .result-content-title span {
    font-size: 1rem;
  }

  .result-content img {
    height: 350px;
  }
}

@media screen and (min-width:600px){
}

/* /.レスポンシブ対応 */